.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .year-month {
    font-size: 20px;
  }
  
  .nav {
    display: flex;
    width: 40%;
    border: 1px solid #333333;
    border-radius: 5px;
  }
  
  .nav-btn {
    width: 33%;
    height: 20px;
    border: none;
    font-size: 3px;
    line-height: 14px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .go-today {

    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
  }
  
  .days {
    display: flex;
  }
  
  .day {
    width: calc(100% / 7);
    text-align: center;
  }
  
  .dates {
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid #333333;
    border-right: 1px solid #333333;
  }
  
  .date {
    width: calc(100% / 7);
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #333333;
  }
  
  .day:nth-child(7n + 1),
  .date:nth-child(7n + 1) {
    color: #D13E3E;
  }
  
  .day:nth-child(7n),
  .date:nth-child(7n) {
    color: #396EE2;
  }
  
  .other {
    opacity: 0.3;
  }
  
  .today {
    position: relative;
    color: #FFFFFF;
  }
  
  .today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #FF0000;
    border-radius: 50%;
    content: '';
  }