{% extends 'base.html' %}

{% block body %}
  <h1>운영자 페이지</h1>
  <h4>모든 문의</h4>
  {% for question in questions %}
    <div class="d-flex justify-content-between my-3">
      <a href="{% url 'service_center:detail' question.pk %}" class="text-decoration-none text-dark">{{ question.title }}
        {% if not question.center.count %}
          <span class="text-danger fw-bold">(아직 답변이 없습니다)</span>
        {% endif %}
      </a>
      <span>{{ question.user.username }}

      </span>
    </div>

  {% endfor %}
{% endblock body %}
