{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block body %}
  <h1>{{ question.title }}</h1>
  <p>{{ question.content }}</p>
  {% if question.image %}
    <img src="{{ question.image.url }}" alt="{{ question.image }}">
  {% endif %}
  <div class="d-flex justify-content-end">
    <a href="" class="btn btn-outline-warning">수정하기</a>
  </div>
  <!-- 운영자라면 -->
  <!-- 답변 작성 폼-->
  {% if user.is_superuser %}
    <form id="comment-form" data-question-id="{{ question.pk }}">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      {% bootstrap_button button_type="submit" content="OK" button_class="btn btn-outline-primary" %}
    </form>
  {% endif %}
  <hr>
  <!-- 답변 출력-->
  <div class="my-4" id="comments">
    <h4 class="my-3">문의 답변</h3>
    {% for comment in comments %}
      <div class="d-flex justify-content-between">
        <p>{{ comment.content }}</p>
        {% if user.is_superuser %}
          <a href="{% url 'service_center:delete_comment' comment.pk question.pk %}" class="btn btn-outline-danger btn-sm" style="height: 30px;">삭제</a>
        {% endif %}
      </div>
      {% empty %}
      <p>아직 답변이 없습니다.</p>
    {% endfor %}
  </div>

  <!-- 답변 비동기 처리 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const commentForm = document.querySelector('#comment-form')

    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value
      commentForm
      .addEventListener('submit', function (event) {
        event.preventDefault();
        axios({
          method: 'post',
          url: `/service/${event.target.dataset.questionId}/comment/`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: new FormData(commentForm)
        }).then(response => {
          console.log(response.data)

          const comments = document.querySelector('#comments')
          const p = document.createElement('p')
          p.innerText = `${response
            .data
            .content}`
            comments
            .append(p)
          commentForm.reset()
        })
      })
  </script>
{% endblock body %}
