{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}
  {% if request.user != user %}
    <form id='follow-form' data-user-id="{{ user.pk }}">
      {% if request.user in user.followers.all %}
        <button type='submit' class='btn btn-sm' id='follow-btn'>언팔로우</button>
      {% else %}
        <button type='submit' class='btn btn-sm' id='follow-btn'>팔로우</button>
      {% endif %}
    </form>
  {% endif %}

<h1>{{ user.username }}</h1>
<p>{{ user.email }}</p>
<p>{{ user.content }}</p>
<a href="{% url 'accounts:delete' user.pk %}">회원탈퇴</a>

{% endblock body %}

{% block script %}
  <script>
    const followForm = document.querySelector('#follow-form')
    if (followForm) {
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value
        followForm
        .addEventListener('submit', function (event) {
          axios({
            method: 'post',
            url: `/accounts/${event.target.dataset.userId}/follow/`,
            headers: {
              'X-CSRFToken': csrftoken
            }
          }).then((response) => {
            const followBtn = document.querySelector('#follow-btn')
            if (response.data.is_followed === true) {
              followBtn.innerText = '언팔로우'
            } else {
              followBtn.innerText = '팔로우'
            }
          })
        })
    }
  </script>
{% endblock script %}

