{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% block body %}
<div class="row d-flex justify-content-center m-5">
  <div class="col-md-6 col-lg-6 col-xl-4 border border-2 rounded-1 px-5 py-4">
    <h1 class="text-center mb-4" style="font-size: 35px;">로그인</h1>
    <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-outline-info w-100 my-2" type="submit" value="확인">
    </form>
    <div class="mt-3 mx-3 d-flex justify-content-between">
      <a href="{% provider_login_url 'kakao' method='oauth2' %}"><img style="width: 50px;" src="{% static 'images/kakao.png' %}"></a>
      <a href="{% provider_login_url 'google' method='oauth2' %}"><img style="width: 50px;" src="{% static 'images/google.png' %}"></a>
      <a href="{% provider_login_url 'github' method='oauth2' %}"><img style="width: 50px;" src="{% static 'images/github.png' %}"></a>
      <a href="{% provider_login_url 'naver' method='oauth2' %}"><img style="width: 50px;" src="{% static 'images/naver.png' %}"></a>
    </div>
    <p class="hr-sect">소셜 로그인</p>
  </div>
</div>

{% endblock body %}

