{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}
<div class="row d-flex justify-content-center m-5">
    <div class="col-lg-6 col-md-8 col-sm-10 border border-2 rounded-1 px-5 py-4">
        <h1 class="text-center mb-4" style="font-size: 35px;">회원 정보 수정</h1>
        <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn btn-outline-info w-100 my-2" type="submit" value="확인">
        </form>
    </div>
</div>
{% endblock body %}