{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}
  <h1>articles/create</h1>
  <form action="{% url 'articles:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form article_form %}
    {% bootstrap_form article_photo_form %}
    <select class="form-select my-2" aria-label="Default select example" name='region'>
      <option selected="selected">지역 선택</option>
      {% for region in regions %}
        <option value="{{ region.pk }}">{{ region.title }}</option>
      {% endfor %}
    </select>
    <br>
    <label for="theme">테마선택(복수선택가능)</label>
    <div class='d-flex my-1'>
      {% for theme in themes %}
      <div class="form-check me-3" id='theme'>
        <input class="form-check-input" name="theme" type="checkbox" value="{{ theme.pk }}" id="{{ theme.title }}">
        <label class="form-check-label" for="{{ theme.title }}">
          {{ theme.title }}
        </label>
      </div>
      {% endfor %}
    </div>
    {% bootstrap_button button_type="submit" content="OK" button_class="btn btn-outline-primary"%}
  </form>
{% endblock body %}