{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/calender.css' %}">
{% endblock css %}

{% block body %}
<div class="d-flex">

  
  <!-- 제목, 사진 -->
  <!-- <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12"> -->
  <article style="width: 70%;">
    <div class="my-4">
      <h1 style="font-size: 30px"><h3>{{ article.title }}</h3></h1>
    </div>

    <!-- carousel 사진 영역 -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        {% for photo in article.articlephoto_set.all %}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|sub:1|mod:photo_cnt }}" class="{% if forloop.counter == 1 %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter|mod:photo_cnt }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for photo in article.articlephoto_set.all %}
          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" style="height: 500px;">
            <img src="{{ photo.image.url }}" class="d-block h-100 mx-auto" alt="{{ photo.image }}">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="my-5 pb-5 border-bottom">
      {{ article.content }}
    </div>

    <!-- 지도 -->
    <h3>숙소 위치</h3>
    <div class="border-bottom pb-5">
      <div id="map" style="width:100%;height:350px;"></div>
      
      <div id="x" style="display: none;">{{location.x}}</div>
      <div id="y" style="display: none;">{{location.y}}</div>
      <div id="loc" style="display: none;">{{ location.location }}</div>
    </div>

    <!-- 여행 후기 -->
    <div class="my-5">
      <h3>후기 <span class='text-secondary fs-5' style="color:#3CA0FF;">{{ reviews|length }}</span> </h3>
      <div class='container'>
        <div class='row'>
          <div class="col-4 ps-0">
            <div class="d-flex flex-column align-items-center bg-light me-2 py-5">
              {% if reviews_avg %}
              <h1>{{ reviews_avg|floatformat }}</h1>
              <div class="d-flex">
                {% for a in quotient_list %}<span class="fs-5"><i class="bi bi-star-fill"></i></span>{% endfor %}
                {% for a in half_list %}<span class="fs-5"><i class="bi bi-star-half"></i></span>{% endfor %}
                {% for a in rest_list %}<span class="fs-5"><i class="bi bi-star"></i></span>{% endfor %}
              </div>
              {% else %}
              <h5>평점이 없습니다.</h5>
              {% endif %}
            </div>
          </div>
          <div class='col-8 bg-light container'>
            <div class='row h-100'>
              {% if grade_list %}
              <div class='col-2 d-flex flex-column justify-content-evenly'>
                <div class="my-2" style="height: 13px;">
                  별 5개
                </div>
                <div class="my-2" style="height: 13px;">
                  별 4개
                </div>
                <div class="my-2" style="height: 13px;">
                  별 3개
                </div>
                <div class="my-2" style="height: 13px;">
                  별 2개
                </div>
                <div class="my-2" style="height: 13px;">
                  별 1개
                </div>
              </div>
              <div class="col-10 d-flex flex-column justify-content-evenly">
                {% for grade in grade_list %}
                  <div class="progress my-2" style="height: 13px;">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{ grade }}%;" aria-valuenow="{{ grade }}" aria-valuemin="0" aria-valuemax="100"><span style='font-size:.5rem;'>{{ grade }}%</span></div>
                  </div>  
                {% endfor %}
              </div>
              {% else %}
                <div class="d-flex justify-content-center align-items-center h-100">
                  <h5>평점이 없습니다.</h5>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="{% url 'articles:review_create' article.pk %}" class="btn btn-outline-secondary">후기 작성</a>
    <div class="row pb-5">
      {% for review in reviews %}
        <div class="">
          <a href="{% url 'articles:review_detail' review.pk %}">
            <div class="card-body d-flex flex-column justify-content-between p-2 border border-2 my-3" style="height: 8rem">
              <!-- 유저 -->
              <div class="my-2">
                <a href="{% url 'accounts:detail' review.user.pk %}" class="text-dark">
                  {% if review.user.image %}
                    <img src="{{ review.user.image.url }}" alt="{{ review.user.image }}" class="rounded-circle border border-2" style="width:50px; height:50px;">
                  {% else %}
                    <img src="{% static 'images/dummy-image-square.jpg' %}" alt="" class="rounded-circle border border-2" >
                  {% endif %}
                  <span class="">{{ review.user.username }}<span class="fs-6">{{ review.get_grade_display }}</span></span>
                </a>
              </div>
              <!-- 리뷰 타이틀 -->
              <a href="{% url 'articles:review_detail' review.pk %}"><h5 class="card-title card-title-text my-2 ms-2">{{ review.title }}</h5></a>

              <!-- 좋아요, 댓글 -->
              <div class="d-flex justify-content-between align-items-center">
                <span></span>
                <div class="text-muted fs-6">
                  <i class="bi bi-heart"></i>
                    <span>{{ review.like_users.count }}</span>
                  <span class="bi bi-chat-dots-fill mx-3"> 
                    <span>{{ review.comment_set.all.count }}</span>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </article>
    
  <!-- 상세 정보 -->
  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12"> -->
  <aside class="ps-5" style="width: 30%;">
    <div style="position: sticky; top: 30px;">
      <div class="p-4 my-4 d-flex flex-column aside-box">

        <h3 class="mb-3" style="font-size: 22px">{{ article.price }}원<span class="ms-2 text-muted" style="font-size: 15px">부터</span></h3>
        <a href="{% url 'articles:reservation_create' article.pk %}"><button type="button" class="btn btn-primary mb-2">예약하기</button></a>

        {% if request.user.is_authenticated %}
          {% if request.user in article.like_users.all %}
           <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart-fill btn btn-outline-primary my-2 " style="font-style: normal;"> 위시리스트</i>
          {% else %}
            <i id="like-btn" data-article-id="{{ article.pk }}" class="bi bi-heart btn btn-outline-primary my-2" style="font-style: normal;"> 위시리스트</i>
          {% endif %}
        {% else %}
        <a href="#" class="btn btn-outline-primary my-2"><i class="bi bi-heart"><span id="like-count"> {{ article.like_users.count }}</span></i></a>
        {% endif %}
        <p class="text-muted text-center" style="font-size: 15px"><span class="ms-2" id="like-count">{{ article.like_users.count }}</span><span>명이 위시리스트에 담은 상품</span></p>
      </div>
      <div class="d-flex justify-content-end">
        <a href="{% url 'articles:update' article.pk %}" class="btn btn-outline-secondary me-2">수정</a>
        <a href="{% url 'articles:delete' article.pk %}" class="btn btn-outline-danger">삭제</a>
      </div>
      <hr>
      <!-- 달력 -->
      <div class="calendar">
        <div class="header">
          <div class="year-month"></div>
          <div class="nav">
            <button class="nav-btn go-prev" onclick="prevMonth()">&lt;</button>
            <button class="nav-btn go-today" onclick="goToday()">Today</button>
            <button class="nav-btn go-next" onclick="nextMonth()">&gt;</button>
          </div>
        </div>
        <div class="main">
          <div class="days">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
          </div>
          <div class="dates"></div>
        </div>
      </div>
    </div>
  </aside> 
</div>



{% endblock body %}

{% block script %}
<script>
  // 좋아요 버튼
  const likeBtn = document.querySelector('#like-btn')
  // 좋아요 버튼을 누르면 함수 실행
  likeBtn.addEventListener('click', function(event) {
    // 서버로 비동기 요청
    axios({
      method: 'get',
      url: `/articles/${event.target.dataset.articleId}/like/`
    })
    .then(response => {
      // event.target.classList.toggle('bi-heart')
      // event.target.classList.toggle('bi-heart-fill')
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-heart-fill')
        event.target.classList.remove('bi-heart')
      } else {
        event.target.classList.add('bi-heart')
        event.target.classList.remove('bi-heart-fill')
      }
      const likeCount = document.querySelector('#like-count')
      likeCount.innerText = response.data.likeCount
    })
  })
</script>


<!-- jquery 사용 -->
<script src="http://code.jquery.com/jquery-latest.js"></script>

<!-- kakao API 키 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3144d0c758dd4362c375eb78f6763f63&libraries=services"></script>
<script>
  const x = document.querySelector('#x').innerText
  const y = document.querySelector('#y').innerText
  const loc =document.querySelector('#loc').innerText
  console.log(x, y)

  var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
      center: new kakao.maps.LatLng(y, x), // 지도의 중심좌표
      level: 3 // 지도의 확대 레벨
    };
  var map = new kakao.maps.Map(mapContainer, mapOption);
  var markerPosition = new kakao.maps.LatLng(y, x);

  // 마커를 생성합니다
  var marker = new kakao.maps.Marker({position: markerPosition});

  // 인포윈도우로 장소에 대한 설명을 표시합니다
  var infowindow = new kakao.maps.InfoWindow({
      content: `<div style="width:300px; text-align:center;padding:6px 0;">${loc}</div>`
  });
  infowindow.open(map, marker);

  // 마커가 지도 위에 표시되도록 설정합니다
  marker.setMap(map);
</script>

<!--달력 자바스크립트-->
<script>
    let date = new Date();

const renderCalender = () => {
  const viewYear = date.getFullYear();
  const viewMonth = date.getMonth();

  document.querySelector('.year-month').textContent = `${viewYear}년 ${viewMonth + 2}월`;

  const prevLast = new Date(viewYear, viewMonth, 0);
  const thisLast = new Date(viewYear, viewMonth + 2, 0);

  const PLDate = prevLast.getDate();
  const PLDay = prevLast.getDay();

  const TLDate = thisLast.getDate();
  const TLDay = thisLast.getDay();

  const prevDates = [];
  const thisDates = [...Array(TLDate + 2).keys()].slice(2);
  const nextDates = [];

  if (PLDay !== 6) {
    for (let i = 0; i < PLDay + 2; i++) {
      prevDates.unshift(PLDate - i);
    }
  }

  for (let i = 2; i < 7 - TLDay; i++) {
    nextDates.push(i);
  }

  const dates = prevDates.concat(thisDates, nextDates);
  const firstDateIndex = dates.indexOf(2);
  const lastDateIndex = dates.lastIndexOf(TLDate);

  dates.forEach((date, i) => {
    const condition = i >= firstDateIndex && i < lastDateIndex + 2
                      ? 'this'
                      : 'other';
    dates[i] = `<div class="date"><span class=${condition}>${date}</span></div>`;
  });

  document.querySelector('.dates').innerHTML = dates.join('');

  const today = new Date();
  if (viewMonth === today.getMonth() && viewYear === today.getFullYear()) {
    for (let date of document.querySelectorAll('.this')) {
      if (+date.innerText === today.getDate()) {
        date.classList.add('today');
        break;
      }
    }
  }
};

renderCalender();

const prevMonth = () => {
  date.setMonth(date.getMonth() - 2);
  renderCalender();
};

const nextMonth = () => {
  date.setMonth(date.getMonth() + 2);
  renderCalender();
};

const goToday = () => {
  date = new Date();
  renderCalender();
};

</script>
{% endblock script %}