{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}
{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block body %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

  <h3 class='mb-3'>여행하고 싶은 지역을 골라보세요!</h3>
  <div class="container px-0">
    <!-- Swiper -->
    <div class="mb-5 mt-2 swiper mySwiper" style="height:380px;">
      <div class="swiper-wrapper">
        {% for region in regions %}
          <div class="swiper-slide">
            <img src="{{ region.index_image.url }}" style="border-radius: 20px;">
            <h3 class="main_image_text">{{ region.title }}
              <br><span class='my-1' style='font-size: 1rem;'>{{ region.article_set.all|length }}개의 여행상품</span>
            </h3>
            <a class="main_image_btn btn " href="{% url 'articles:region_index' region.pk %}">둘러보기</a>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next text-light"></div>
      <div class="swiper-button-prev text-light"></div>
      <div class="swiper-pagination text-white"></div>
    </div>
  </div>

  <!-- slide -->
  <div class="mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="/articles/game/">
                <img style="height:300px; width:100%;" src="{% static 'images/야경.jpg' %}" class="d-block rounded">
            </a>
        </div>
        <div class="carousel-item">
          <img style="height:300px; width:100%;" src="{% static 'images/해운대.jpg' %}" class="d-block rounded">
        </div>
        <div class="carousel-item">
          <img style="height:300px; width:100%;" src="{% static 'images/일몰.jpg' %}" class="d-block rounded">
        </div>
      </div>
    </div>
  </div>

  <!-- card slide -->
  <h3 class='mb-3'>이런 상품 어떠세요?</h3>
  <div class=" swiper mySwiper">
    <div class="swiper-wrapper">
      {% for article in articles %}
        <div class="swiper-slide">
          <div class="row">
            <div class="p-0 col lg-4">
              <a href="{% url 'articles:detail' article.pk %}">
                <div class="card2" style="overflow: hidden;">
                  <div class="card-img">
                    {% if article.articlephoto_set.all.0.image %}
                      <img src="{{ article.articlephoto_set.all.0.image.url }}" style="height: 200px; width: 292px;" class="card-img-top">
                    {% else %}
                      <img src="https://dummyimage.com/310x310/000000/c4c4c4" style="height: 200px; width: 292px;" class="card-img-top">
                    {% endif %}
                  </div>
                  <div class="card-body text-dark text-nowrap text-truncate" style="padding:10px; width:292px;">
                    
                    <p class="mb-1"style="font-size:14px; color:gray;">{% for t in article.theme.all %}
                        {{ t.title }}
                        {% endfor %}
                        · {{ article.region.title }}</p>
                   
                    
                    <h4 class="pt-1 card-ellipsis">{{ article.title }}</h4>
                   
                        <p style='font-size:0.8rem;' class='text-secondary m-0 d-flex'>{{ article.price|intcomma }}원</p>
                        <div class="d-flex justify-content-between">
                        <p style='font-size:0.8rem;' class='text-secondary m-0 d-flex'>{{ article.review.all|length }}개의 후기<p>
                        <span style='font-size:0.8rem;' class='text-secondary m-0 d-flex'>
                            <i class="bi bi-star-fill" style="color:#ebeb07;"></i>{{ article.grade_avg|floatformat }}
                        </span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next text-light"></div>
    <div class="swiper-button-prev text-light"></div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- 최근 본 상품 -->
  {% if recent_articles %}
    <h3 class='my-3'>최근 본 상품</h3>
    <div class='mb-5 row'>
        {% for recent_article in recent_articles %}
          <div class="col-3 lately">
            <a href="{% url 'articles:detail' recent_article.0 %}"><img class='w-100 rounded' src="{{ recent_article.1 }}" alt="{{ recent_article.1 }}"></a>
          </div>
        {% empty %}
          <h5>최근에 본 상품이 없습니다.</h5>
        {% endfor %}
    </div>
  {% endif %}

  <!-- 베스트 상품 -->
  <h3 class='my-3'>베스트 상품</h3>
  <div class='mb-5 row'>
    {% for best_article in best_articles %}
      <div class="col-4 position-relative lately">
        <a href="{% url 'articles:detail' best_article.pk %}">
          <img class='w-100 h-100 rounded position-relative' src="{{ best_article.articlephoto_set.all.0.image.url }}" alt="{{ best_article.articlephoto_set.all.0.image }}">
        </a>
        <p style='font-size: 3rem;' class='position-absolute bottom-0 text-white m-1 ms-2'>{{ forloop.counter }}</p>
      </div>
    {% endfor %}
  </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    },
    breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 20
      },
      780: {
        slidesPerView: 2,
        spaceBetween: 20
      },
      994: {
        slidesPerView: 3,
        spaceBetween: 20
      },
      1200: {
        slidesPerView: 3,
        spaceBetween: 30
      },
      1400: {
        slidesPerView: 4,
        spaceBetween: 30
      }
    }
  });
</script>

{% endblock body %}
