{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

<div class="container">
  <!-- Swiper -->
  <div class="my-5 swiper mySwiper" style="height:400px;">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="main_image">
          <img src="{% static 'images/경기도.jpg' %}">
          <h4 class="main_image_text">경기도</h4>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/강원도.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/제주도.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/경상도.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/전라도.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/충청도.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/서울.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/부산.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/인천.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/대전.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/대구.jpg' %}">
      </div>
      <div class="swiper-slide">
        <img src="{% static 'images/광주.jpg' %}">
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- slide -->
  <div class="mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="height:300px; width:100%;" src="{% static 'images/롯데월드.jpg' %}" class="d-block">
        </div>
        <div class="carousel-item">
          <img style="height:300px; width:100%;" src="{% static 'images/해운대.jpg' %}" class="d-block">
        </div>
        <div class="carousel-item">
          <img style="height:300px; width:100%;" src="https://dummyimage.com/1060X280/000/fff" class="d-block">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 4,
    spaceBetween: 30,
    slidesPerGroup: 3,
    loop: true,
    loopFillGroupWithBlank: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
    
{% endblock body %}
  