{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}
{% block body %}

  <div class="d-flex justify-content-between my-5">
    <h1>{{ region.title }}에서 {{ theme.title }}</h1>
    <div class="dropdown">
      <button class="btn btn-white dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {% if request.resolver_match.url_name == "region_theme_articles_grade" %}
          평점 높은 순
        {% elif request.resolver_match.url_name == "region_theme_articles_review" %}
          후기 많은 순
        {% elif request.resolver_match.url_name == "region_theme_articles_low" %}
          낮은 가격 순
        {% elif request.resolver_match.url_name == "region_theme_articles_high" %}
          높은 가격 순
        {% elif request.resolver_match.url_name == "region_theme_articles_recent" %}
          신상품순
        {% endif %}
      </button>
      <ul class="dropdown-menu dropdown-menu-white">
        <li>
          <a class="dropdown-item" href="{% url 'articles:region_theme_articles_grade' region.pk theme.pk %}">평점 높은 순</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'articles:region_theme_articles_review' region.pk theme.pk %}">후기 많은 순</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'articles:region_theme_articles_low' region.pk theme.pk %}">낮은 가격 순</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'articles:region_theme_articles_high' region.pk theme.pk %}">높은 가격 순</a>
        </li>
        <li>
          <a class="dropdown-item" href="{% url 'articles:region_theme_articles_recent' region.pk theme.pk %}">신상품순</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    {% for article in articles %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card border-0">
          <a class='text-dark' href="{% url 'articles:detail' article.pk %}">
            <div class="">
              <img class='w-100 rounded' src="{{ article.articlephoto_set.all.0.image.url }}" alt="{{ article.articlephoto_set.all.0.image }}">
            </div>
            <p class='m-0 text-secondary' style='font-size:0.8rem;'>
              {% for theme in article.theme.all %}
                {{ theme.title }} 
              {% endfor %}
            </p>
            <p class='m-0'>
              {{ article.title }}
            </p>
            <p>{{ article.price|intcomma }}원</p>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock body %}

{% block script %}
<script>

</script>
{% endblock script %}