{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}
{% block css %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block banner %}
  <div class='position-relative'>
    <img class='w-100' src="{{ region.detail_image.url }}" alt="{{ region.detail_image }}">
    <h1 class='position-absolute top-50 start-50 translate-middle text-white'>{{ region.title }}</h1>
  </div>
{% endblock banner %}

{% block body %}

<!-- 지역별 페이지 드롭다운 -->
  <div class="dropdown ms-1">
    <button class="btn btn-white dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      {{ region.title }}
    </button>
    <ul class="dropdown-menu dropdown-menu-white">
      {% for region in regions %}
      <li>
        <a class="dropdown-item" href="{% url 'articles:region_index' region.pk %}">{{ region.title }}</a>
      </li>
      {% endfor %}
      <li>
    </ul>
  </div>

  <!-- 카테고리 버튼 -->
  <div class="row my-5 justify-content-center">
    {% for theme in themes %}
      <div class="col-lg-2 col-md-4 col-sm-6 col-12 my-1">
        <a type='button' class='w-100 position-relative p-0 region-img-btn text-dark opacity-100' href="{% url 'articles:region_theme_articles_grade' region.pk theme.pk %}">
          <img class='w-100 rounded border border-dark region-img-btn' src="{{ theme.image.url }}" alt="{{ theme.image }}">
          <span class='position-absolute top-50 start-50 translate-middle'>{{ theme.title }}</span>
        </a>
      </div>
    {% endfor %}
  </div>

  <!-- 총 상품 -->
  <h3>총 {{ articles|length }}개의 상품이 있습니다.</h3>
  <div class="row">
    {% for article in articles %}
      <div class="col-sm-5 col-lg-3">
        <div class="card my-4">
          <div>
            <img class='card-img-top' src="{{ article.articlephoto_set.all.0.image.url }}" alt="{{ article.image }}" style="height:200px; object-fit: cover;">
          </div>
          <div class="card-body">
            <h5 class="card-title text-nowrap text-truncate">{{ article.title }}</h5>
            <p>{{ article.price|intcomma }}원</p>
            <a style='background-color: #4567d7; color: white;' href="{% url 'articles:detail' article.pk %}" class="btn">더 보기</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock body %}
