{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
{% comment %} <link rel="stylesheet" href="{% static 'js/air-datepicker/dist/css/datepicker.min.css' %}">
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/air-datepicker/dist/js/datepicker.min.js' %}"></script>
<script src="{% static 'js/air-datepicker/dist/js/i18n/datepicker.ko.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="d-flex justify-content-center">
  <div class="col-6">
    <h1 class="text-center">예약하기</h1>
    <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% comment %} {% bootstrap_form reservation_form %} {% endcomment %}
        <div class="form-group">
            <label for="name">사용자 이름 입력</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="이름">
        </div> 
        <div class="form-group">
            <label for=""></label>
            <select name="kid" class="form-select" id="id_kid">
                <option value="0" selected="">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <select name="adult" class="form-select" id="id_adult">
                <option value="0" selected="">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
          <label for=""></label>
          <input type="text" name="date" id="daterange" value="" />
        </div>
        <input type="submit">
    </form>
  </div>
<div>
    <script>
        $(function() {
          $('input[id="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
          });
        });
        </script>
{% endblock body %}