{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
{% comment %} <link rel="stylesheet" href="{% static 'js/air-datepicker/dist/css/datepicker.min.css' %}">
<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/air-datepicker/dist/js/datepicker.min.js' %}"></script>
<script src="{% static 'js/air-datepicker/dist/js/i18n/datepicker.ko.js' %}"></script> {% endcomment %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<div class="d-flex justify-content-center">
  <div class="col-6">
    <h1 class="text-center">예약하기</h1>
    <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {% comment %} {% bootstrap_form reservation_form %} {% endcomment %}
        <div class="form-group">
            <label for="name">사용자 이름 입력</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="이름">
        </div> 
        <div class="form-group">
            <label for=""></label>
            <select name="kid" class="form-select" id="id_kid">
                <option value="0" selected="">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <select name="adult" class="form-select" id="id_adult">
                <option value="0" selected="">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label for=""></label>
            <input type="text" name="date" id="daterange" value="" />
        </div>
        <input type="submit">
    </form>
  </div>
<div>
    <script>
        $(function() {
          $('input[id="daterange"]').daterangepicker({
            opens: 'left'
          }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
          });
        });
    </script>
    <script>
      const getDateDiff = (d1, d2) => {
        const date1 = new Date(d1);
        const date2 = new Date(d2);

        const diffDate = date1.getTime() - date2.getTime();
        
        return Math.abs(diffDate / (1000 * 60 * 60 * 24)); // 밀리세컨 * 초 * 분 * 시 = 일
      }
      
      getDateDiff("2021-09-01", "2021-10-01");
      console.log(getDateDiff);
    </script>
    <script>
      var now = new Date();
 
      var year = now.getFullYear();   // 연도
      var month = now.getMonth()+1;   // 월    
      var day = now.getDate();        // 일
       
      var stDate = new Date(2021, 03, 21);
      var endDate = new Date(year, month, day);
       
      var btMs = endDate.getTime() - stDate.getTime() ;
      var btDay = btMs / (1000*60*60*24) ;
       
      console.log("일수 차이는?? " + btDay);
    </script>
{% endblock body %}