{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">
    <!-- 본문 & 댓글 -->
    <div class="p-3 mb-4" style="border-radius: 0.5rem; box-shadow: 0px 0 10px 1px rgb(169 169 169 / 50%); background-color: white;">
      <!-- 사진 영역 -->
      <div>
        {% if review.image %}
        <img src="{{ review.image.url }}" alt="{{ review.image }}">
        {% endif %}
      </div>

      <!-- 제목 본문 태그 -->
      <div>
        <h1 class="mt-3">{{ review.title }}</h1>
        <div class="d-flex justify-content-between">
          <span style="font-size: 25px;"><a href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.username }}</a></span>
          <p style="font-size: 13px;">작성 {{ review.created_at|date:'Y-m-d H:i' }} | 수정 {{ review.updated_at|date:'Y-m-d H:i' }}</p>
        </div>
        <p class="mt-3">{{ review.content }} </p>

        <!-- 좋아요 댓글 -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center" style="font-size: 20px;">
            <div>
              {% if request.user.is_authenticated %}
                {% if request.user in review.like_users.all %}
                  <i id="btn-review-like" data-article-id="{{ review.pk }}" class="bi bi-heart-fill text-danger"></i>
                {% else %}
                  <i id="btn-review-like" data-article-id="{{ review.pk }}" class="bi bi-heart text-dark"></i>
                {% endif %}
              {% else %}
                <a href="{% url 'accounts:login' %}"><i class="bi bi-heart"></i></a>
              {% endif %}
              <span id="review-like-count">{{ review.like_users.count }}</span>
            </div>

            <div class="ms-3">
              <i class="bi bi-chat"> </i>
              <span class="comment-count">{{ review.comment_set.all.count }}</span>
            </div>
          </div>
        </div>
      </div>
      <hr>

    <!-- 글 수정 & 삭제 & 뒤로가기 -->
    <div class='d-flex justify-content-end'>
      {% if request.user == review.user %}
      <form action="{% url 'articles:review_delete' article.pk %}" method="POST" class="form">
        {% csrf_token %}
        <div class="d-block d-lg-none">
          <a href="{% url 'articles:review_update' article.pk %}" class="btn btn-outline-primary form-control mb-3">수정</a>
          <input class="btn btn-outline-danger form-control mb-3" type="submit" value="삭제">
          <a href="{% url 'articles:detail' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
        </div>
        <div class="d-none d-lg-block">
          <a href="{% url 'articles:review_update' article.pk %}" class="btn btn-outline-primary">수정</a>
          <input class="btn btn-outline-danger" type="submit" value="삭제">
          <a href="{% url 'articles:detail' %}" class="btn btn-outline-secondary">뒤로</a>
        </div>
      </form>
      {% else %}
      <div class="d-block d-lg-none">
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
      </div>
      <div class="d-none d-lg-block">
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- 코멘트 폼 -->
<h4 class="my-3">댓글</h4>
<form id="comment-form" data-article-id="{{ review.pk }}">
  {% csrf_token %}
  {% bootstrap_form comment_form layout='floating'%}
  {% bootstrap_button button_type="submit" content="작성" %}
</form>
<!-- 코멘트 내용 -->
<div id="comments">
{% for comment in comments %}
    {% if request.user.is_authenticated %}
    <p> {{ comment.user.username }} | {{ comment.content }}</p>
        {% if request.user == comment.user %}
        <form action="{% url 'articles:comment_update' review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">수정</button>
        </form>
        <form action="{% url 'articles:comment_delete' review.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit">삭제</button>
        </form>
        {% endif %}
    <hr>
    {% else %}
    <p> 익명 | {{ comment.content }}</p>
{% empty %}
  <p>댓글이 없어요 ㅠ_ㅠ</p>
{% endfor %}
</div>
{% endblock body %}