{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load static %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-8">
    <!-- 본문 & 댓글 -->
    <div class="p-3 mb-4" style="border-radius: 0.5rem; box-shadow: 0px 0 10px 1px rgb(169 169 169 / 50%); background-color: white;">
      <!-- carousel 사진 영역 -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          {% for photo in review.reviewphoto_set.all %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|sub:1|mod:photo_cnt }}" class="{% if forloop.counter == 1 %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter|mod:photo_cnt }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for photo in review.reviewphoto_set.all %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" style="height: 500px">
              <img src="{{ photo.image.url }}" class="d-block h-100 mx-auto" alt="{{ photo.image }}">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- 제목 본문 태그 -->
      <div>
        <h1 class="mt-3">{{ review.title }}</h1>
        <div class="d-flex justify-content-between">
          <span style="font-size: 25px;"><a href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.username }}</a></span>
          <p style="font-size: 13px;">작성 {{ review.created_at|date:'Y-m-d H:i' }} | 수정 {{ review.updated_at|date:'Y-m-d H:i' }}</p>
        </div>
        <p class="mt-3">{{ review.content }} </p>

        <!-- 좋아요 댓글 -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center" style="font-size: 20px;">
            <div>
              {% if request.user.is_authenticated %}
                {% if request.user in review.like_users.all %}
                  <i id="btn-review-like" data-review-id="{{ review.pk }}" class="bi bi-heart-fill text-danger"></i>
                {% else %}
                  <i id="btn-review-like" data-review-id="{{ review.pk }}" class="bi bi-heart text-dark"></i>
                {% endif %}
              {% else %}
                <a href="{% url 'accounts:login' %}"><i class="bi bi-heart"></i></a>
              {% endif %}
              <span id="review-like-count">{{ review.like_users.count }}</span>
            </div>

            <div class="ms-3">
              <i class="bi bi-chat"> </i>
              <span class="comment-count">{{ review.comment_set.all.count }}</span>
            </div>
          </div>
        </div>
      </div>
      <hr>

    <!-- 글 수정 & 삭제 & 뒤로가기 -->
  <div class='d-flex justify-content-end'>
      {% if request.user == review.user %}
      <form action="{% url 'articles:review_delete' review.pk %}" method="POST" class="form">
        {% csrf_token %}
        <div class="d-block d-lg-none">
          <a href="{% url 'articles:review_update' review.pk %}" class="btn btn-outline-primary form-control mb-3">수정</a>
          <input class="btn btn-outline-danger form-control mb-3" type="submit" value="삭제">
          <a href="{% url 'articles:detail' review.article.pk %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
        </div>
        <div class="d-none d-lg-block">
          <a href="{% url 'articles:review_update' review.pk %}" class="btn btn-outline-primary">수정</a>
          <input class="btn btn-outline-danger" type="submit" value="삭제">
          <a href="{% url 'articles:detail' review.article.pk %}" class="btn btn-outline-secondary">뒤로</a>
        </div>
      </form>
      {% else %}
      <div class="d-block d-lg-none">
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary form-control mb-3">뒤로</a>
      </div>
      <div class="d-none d-lg-block">
        <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
      </div>
      {% endif %}
    </div>
  </div>
</div> 

<!-- 코멘트 폼 -->
<h4 class="my-3">댓글</h4>
<form action="{% url 'articles:comment_create' review.pk %}" id="comment-form" data-article-id="{{ review.pk }}" method="POST">
  {% csrf_token %}
  {% bootstrap_form comment_form layout='floating'%}
  {% bootstrap_button button_type="submit" content="작성" %}
</form>
<!-- 코멘트 내용 -->
<div id="comments"></div>
{% for comment in comments %}
    {% if request.user.is_authenticated %}
    <p> {{ comment.user.username }} | {{ comment.content }}</p>
        {% if request.user == comment.user %}
        <form action="{% url 'articles:comment_delete' review.pk comment.pk %}" method="POST">
        {% csrf_token %}
            <button type="submit">삭제</button>
        </form>
        {% endif %}
    <hr>
    {% else %}
    <p> 익명 | {{ comment.content }}</p>
    {% endif %}
    {% empty %}
    <p>댓글이 없어요 ㅠ_ㅠ</p>
{% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  // 리뷰 좋아요
  const btnReviewLike = document.querySelector('#btn-review-like')
  btnReviewLike.addEventListener('click', event => {
    const reviewId = event.target.dataset.reviewId

    axios({
      method: 'get',
      url: `/articles/review/${reviewId}/like` 
    })
    .then(response => {
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-heart-fill', 'text-danger')
        event.target.classList.remove('bi-heart', 'text-dark')
      } else {
        event.target.classList.add('bi-heart', 'text-dark')
        event.target.classList.remove('bi-heart-fill', 'text-danger')
      }
      const reviewLikeCount = document.querySelector('#review-like-count')
      reviewLikeCount.innerText = response.data.likeCount
    })
  })
</script>

{% endblock body %}