{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% load mathfilters %}
{% load static %}

{% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-lg-8">
    <!-- 본문 & 댓글 -->

    <div class="p-3 mb-4" style="border-radius: 0.5rem; box-shadow: 0px 0 10px 1px rgb(169 169 169 / 50%); background-color: white;">
      <div class="d-flex justify-content-between">
        <div>
          <h2>{{ review.title }}</h2>
          <p class='fs-6'>평점: {{ review.get_grade_display }}</p>
        </div>
        <div class="d-flex flex-column align-items-end">
          <span style="font-size: 25px;">
            <a href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.username }}</a>
          </span>
          <p style="font-size: 13px;">
            {% if review.created_at == review.updated_at %}
            작성 {{ review.created_at|date:'Y-m-d H:i' }}
            {% else %}
            수정 {{ review.updated_at|date:'Y-m-d H:i' }}
            {% endif %}
          </p>
        </div>
      </div>

      <!-- carousel 사진 영역 -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          {% for photo in review.reviewphoto_set.all %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter|sub:1|mod:photo_cnt }}" class="{% if forloop.counter == 1 %} active {% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter|mod:photo_cnt }}"></button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for photo in review.reviewphoto_set.all %} 
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" style="height: 500px">
              <img src="{{ photo.image.url }}" class="d-block w-100 mx-auto rounded" alt="{{ photo.image }}">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- 제목 본문 태그 -->
      <div>
        <p style="min-height: 200px;" class="mt-5">{{ review.content }} </p>
        <!-- 좋아요 댓글 -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center" style="font-size: 20px;">
            <div>
              {% if request.user in review.like_users.all %}
                <i type='button' id="btn-review-like" data-review-id="{{ review.pk }}" class="bi bi-heart-fill text-danger"></i>
              {% else %}
                <i type='button' id="btn-review-like" data-review-id="{{ review.pk }}" class="bi bi-heart text-dark"></i>
              {% endif %}
              <span id="review-like-count">{{ review.like_users.count }}</span>
            </div>
            <div class="ms-3">
              <i class="bi bi-chat"></i>
              <span class="comment-count">{{ review.comment_set.all.count }}</span>
            </div>
          </div>
        </div>
      </div>
      <hr>

    <!-- 글 수정 & 삭제 & 뒤로가기 -->
    <div class='d-flex justify-content-end'>
      {% if request.user == review.user %}
      <form action="{% url 'articles:review_delete' review.pk %}" method="POST" class="form">
        {% csrf_token %}
        <a href="{% url 'articles:review_update' review.pk %}" class="btn btn-outline-primary btn-sm mb-3">수정</a>
        <input class="btn btn-outline-danger btn-sm mb-3" type="submit" value="삭제">
      </form>
      {% endif %}
      <div class="mx-1">
        <a href="{% url 'articles:detail' review.article.pk %}" class="btn btn-outline-secondary btn-sm">뒤로</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8">
    <!-- 코멘트 폼 -->
    <h4 class="mb-3 mt-5">댓글</h4>
    <form action="{% url 'articles:comment_create' review.pk %}" id="comment-form" data-article-id="{{ review.pk }}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form layout='floating'%}
      <div class="d-flex justify-content-end">
        {% bootstrap_button button_type="submit" content="작성" %}
      </div>
    </form>
    <!-- 코멘트 내용 -->
    <hr class='my-1'>
    {% for comment in comments %}
      <div class="d-flex justify-content-between">
        {% if request.user.is_authenticated %}
          <div class="d-flex flex-column">
            <div>
              <a href="{% url 'accounts:detail' comment.user.pk %}">{{ comment.user.username }}</a>
              <span class='text-secondary' style='font-size:.7rem;'>{{ comment.created_at }}</span>
            </div>
            <span class="fs-5">{{ comment.content }}</span>
          </div>
          {% if request.user == comment.user %}
            <div class="d-flex align-items-center">
              <form action="{% url 'articles:comment_delete' review.pk comment.pk %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm">삭제</button>
              </form>
            </div>
          {% endif %} 
        {% else %}
          <div class="d-flex flex-column">
            <div>
              <span>익명</span>
              <span class='text-secondary' style='font-size:.7rem;'>{{ comment.created_at }}</span>
            </div>
            <span class="fs-5">{{ comment.content }}</span>
          </div>
        {% endif %}
      </div>
      <hr class="my-1">
    {% empty %}
      <p>댓글이 없어요 ㅠ_ㅠ</p>
    {% endfor %}
  </div>
</div>
{% endblock body %}



{% block script %}
<script>
  // 리뷰 좋아요
  const btnReviewLike = document.querySelector('#btn-review-like')
  btnReviewLike.addEventListener('click', event => {
    const reviewId = event.target.dataset.reviewId
    axios({
      method: 'get',
      url: `/articles/review/${reviewId}/like/` 
    })
    .then(response => {
      if (response.data.isLiked === true) {
        event.target.classList.add('bi-heart-fill', 'text-danger')
        event.target.classList.remove('bi-heart', 'text-dark')
      } else {
        event.target.classList.add('bi-heart', 'text-dark')
        event.target.classList.remove('bi-heart-fill', 'text-danger')
      }
      const reviewLikeCount = document.querySelector('#review-like-count')
      reviewLikeCount.innerText = response.data.likeCount
    })
  })
</script>
{% endblock script %}