{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
  <h1>검색결과</h1>
  <h5>articles</h5>
  {% for article in articles %}
    <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
  {% endfor %}
  <hr>
  <h5>reviews</h5>
  {% for review in reviews %}
    <a href="{% url 'articles:review_detail' review.pk %}">{{ reveiw.title }}</a>
  {% endfor %}
  <hr>
  <h5>users</h5>
  {% for user in users %}
    <a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>
  {% endfor %}
{% endblock body %}
