{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block body %}
  <div class="container">
    <h1 class="mb-4">"{{ query }}" 검색 결과</h1>
    <h5>상품 검색 결과</h5>
    <div class="row">
      {% for article in articles %}
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <a class='text-decoration-none text-dark' href="{% url 'articles:detail' article.pk %}">
            <img class='w-100 rounded' src="{{ article.articlephoto_set.all.0.image.url }}" alt="{{ article.articlephoto_set.all.0.image }}">
            <p>{{ article.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
    <hr>
    <h5 class="mb-4">리뷰 검색 결과</h5>
    <div class="row">
      {% for review in reviews %}
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <a href="{% url 'articles:review_detail' review.pk %}">
            {% if review.reviewphoto_set.all.0.image %}
            <img class='w-100 rounded' src="{{ review.reviewphoto_set.all.0.image.url }}" alt="{{ review.reviewphoto_set.all.0.image }}">
            {% else %}
            <img class='w-100 rounded' src="{% static 'images/dummy.jpg' %}">
            {% endif %}
            <p>{{ review.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
    <hr>
    <h5 class="mb-4">회원 검색 결과</h5>
    <div class="row text-center">
      {% for user in users %}
      {% if not user.is_superuser %}
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <a href="{% url 'accounts:detail' user.pk %}">
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="{{ user.image }}" style="width:90px; height:90px; border-radius:50%; border: 1px solid #e9e7e7;">
                {% else %}
                <img src="{% static 'images/no-avatar.jpg' %}" style="width:90px; height:90px; border-radius:50%; border: 1px solid #e9e7e7;">
                {% endif %}
            <p>{{ user.username }}</p>
          </a>
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock body %}
