{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load humanize %}

{% block banner %}
  <div class='position-relative'>
    <img class='w-100' src="{{ theme.image.url }}" alt="{{ theme.image }}">
    <h1 class='position-absolute top-50 start-50 translate-middle text-white'>{{ theme.title }}</h1>
  </div>
{% endblock banner %}

{% block body %}



  <!-- 카테고리 버튼 -->
  <div class="row my-5 justify-content-center">
    {% for region in regions %}
      <div class="col-2 my-1">
        <a class='btn btn-outline-dark w-100' href="{% url 'articles:region_theme_articles' region.pk theme.pk %}">{{ region.title }}</a>
      </div>
    {% endfor %}
  </div>

  <!-- 총 상품 -->
  <h3>총 {{ articles|length }}개의 상품이 있습니다.</h3>
  <div class="row">
    {% for article in articles %}
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card my-4">
          <img src="{{ article.articlephoto_set.all.0.image.url }}" class="card-img-top" alt="{{ article.image }}" style="height:140px;">
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p>{{ article.price|intcomma }}원</p>
            <a href="{% url 'articles:detail' article.pk %}" class="btn btn-primary">더 보기</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock body %}
