{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block body %}
<div class="container my-5 col-lg-6 col-md-8 col-sm-10">
  <h3 class="text-center mb-4">상품 수정</h3>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form article_form %}
    {% bootstrap_form article_photo_form %}
		<label class='mt-2' for="region">지역 선택</label>
    <select class="form-select my-2" aria-label="Default select example" name='region' id='region'>
      {% for region in regions %}
				{% if region == article.region %}
					<option selected="selected" value="{{ region.pk }}">{{ region.title }}</option>
				{% else %}
        	<option value="{{ region.pk }}">{{ region.title }}</option>
				{% endif %}
      {% endfor %}
    </select>
    <br>
    <label for="theme" class="mb-1">테마선택(복수선택가능)</label>
    <div class='d-flex mt-1 mb-3'>
      {% for theme in themes %}
      <div class="form-check me-3" id='theme'>
				{% if theme in article.theme.all %}
        	<input class="form-check-input" name="theme" type="checkbox" value="{{ theme.pk }}" id="{{ theme.title }}" checked >
				{% else %}
					<input class="form-check-input" name="theme" type="checkbox" value="{{ theme.pk }}" id="{{ theme.title }}" >
				{% endif %}
        <label class="form-check-label" for="{{ theme.title }}">
          {{ theme.title }}
        </label>
      </div>
      {% endfor %}
    </div>

		<!-- 지도 -->
		<label for="address-label" class="mb-1">주소 입력</label>
		<div class="input-group mb-3 mt-1" id='address-label'>
			<input type="text" class="form-control" name="Address" id="address" placeholder="숙소 주소를 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2" value="{{ location.location }}">
			<button class="btn btn-outline-secondary" type="button" id="searchBtn">검색</button>
		</div>
		<input type="hidden" name="location" id="location" value="{{ location.location }}">
		<input type="hidden" name="y" id="lat" value="{{ location.y }}">
		<input type="hidden" name="x" id="lng" value="{{ location.x }}">
		<div id="map" style="width:100%;height:350px;" class='my-2 rounded' data-article-xd="{{ location.x }}" data-article-yd="{{ location.y }}" data-location-id="{{ location.location }}"></div>
    <div class="mt-3 d-flex justify-content-end">
		  <input class="btn btn-outline-primary btn-sm" type="submit" value="등록">
	  </div>
  </form>
</div>

 <!-- jquery 사용 -->
  <script src="http://code.jquery.com/jquery-latest.js"></script>


  <!-- kakao API 키 -->
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3144d0c758dd4362c375eb78f6763f63&libraries=services"></script>
	<script>
	var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	    mapOption = {
	        center: new kakao.maps.LatLng(mapContainer.dataset.articleYd, mapContainer.dataset.articleXd ), // 지도의 중심좌표
	        level: 3 // 지도의 확대 레벨
	    };  
	// 지도를 생성합니다   
	var map = new kakao.maps.Map(mapContainer, mapOption); 
	var marker_base = new kakao.maps.Marker({
		map: map,
		position: new kakao.maps.LatLng(mapContainer.dataset.articleYd, mapContainer.dataset.articleXd)
		});
	var infowindow = new kakao.maps.InfoWindow({
		content: `<div style="width:300px; text-align:center;padding:6px 0;">${mapContainer.dataset.locationId}</div>`
	});
	infowindow.open(map, marker_base);
	
	$('#searchBtn').click(function(){
		// 버튼을 click했을때
		
		// 주소-좌표 변환 객체를 생성합니다
		var geocoder = new kakao.maps.services.Geocoder();
		
		// 주소로 좌표를 검색합니다
		geocoder.addressSearch($('#address').val(), function(result, status) {
	
		    // 정상적으로 검색이 완료됐으면 
		     if (status === kakao.maps.services.Status.OK) {
		        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
		        // 추출한 좌표를 통해 도로명 주소 추출
		        let lat = result[0].y;
		        let lng = result[0].x;
            
            var loc = document.querySelector('#location')
            var location_x = document.querySelector('#lat')
            var location_y = document.querySelector('#lng')
          

            location_x.value = lat
            location_y.value = lng

			console.log(lat)
			console.log(lng)

		        getAddr(lat,lng);
		        function getAddr(lat,lng){
		            let geocoder = new kakao.maps.services.Geocoder();
	
		            let coord = new kakao.maps.LatLng(lat, lng);
		            let callback = function(result, status) {
		                if (status === kakao.maps.services.Status.OK) {
		                	// 추출한 도로명 주소를 해당 input의 value값으로 적용
		                    $('#address').val(result[0].road_address.address_name);
		                }
		            }
                
		            geocoder.coord2Address(coord.getLng(), coord.getLat(), callback);
		        }

		        loc.value = result[0].road_address.address_name
            
		        // 결과값으로 받은 위치를 마커로 표시합니다
		        var marker = new kakao.maps.Marker({
		            map: map,
		            position: coords
		        });
				
				console.log(location_x)

		        // 인포윈도우로 장소에 대한 설명을 표시합니다
		        var infowindow = new kakao.maps.InfoWindow({
		            content: `<div style="width:300px; text-align:center;padding:6px 0;">${result[0].road_address.address_name}</div>`
		        });
		        infowindow.open(map, marker);
	
		        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
		        map.setCenter(coords);
		    } 
		});  
	});
	  
	</script>

{% endblock body %}