{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip-Star</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/favicon/favicon.ico" type="image/x-icon">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      body {
        font-family: 'Noto Sans KR', sans-serif;
      }
    </style>

  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg pt-4">
      <div class="container-fluid container">
        <div class="col-lg-4 col-12 d-flex justify-content-between">
          <a style="font-size:30px;" href="{% url 'articles:index' %}"><img style='height:3rem;' src="{% static 'images/Logo.png' %}" alt="Logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- 검색창 -->
          <form action="{% url 'articles:search' %}" class="d-flex col-12 col-lg-6 p-2" role="search">
            <input class="form-control me-2" style="border-radius: 20px; border: 2px solid #69b7f0; text-align: center;" type="search" placeholder="    가고싶은 도시나 숙소를 검색해보세요!" aria-label="Search" name='q'>

            <i class="fas fa-search text-muted" style="font-size: 18px; margin-top: 12px; margin-left: 16px; position: absolute;"></i>
          </form>
          <div class='col-12 col-lg-6 d-flex justify-content-end align-items-center'>
            {% if request.user.is_seller %}
              <div class='me-1'>
                  <a href="{% url 'articles:create' %}" class="btn btn-white">상품 등록</a>
              </div>
            {% endif %}
            {% if request.user.is_authenticated %}
              <div class="dropdown ms-1">
                <button class="btn btn-white dropdown-toggle d-flex align-items-center border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if request.user.image %}
                    <img style='height:1.6rem;' class='rounded-circle border me-1' src="{{ request.user.image.url }}" alt="{{ request.user.image }}">
                  {% else %}
                    <img style='height:1.6rem;' class='rounded-circle border' src="{% static 'images/no-avatar.jpg'%}" alt="no-avatar">
                  {% endif %}
                  <span class='mx-1'>{{ request.user.username }}</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-white">
                  <li>
                    <a class="dropdown-item active" href="{% url 'accounts:detail' request.user.pk %}">회원정보</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:pay_history' request.user.pk %}">구매 내역</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'service_center:my_question' %}">나의 문의</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'accounts:logout' %}">로그아웃</a>
                  </li>
                  {% if request.user.is_superuser %}
                    <li>
                      <a class="dropdown-item" href="{% url 'articles:theme_region_list' %}">지역, 테마 목록</a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            {% else %}
              <a class='mx-2 btn btn-sm btn-white' href="{% url 'accounts:signup' %}">회원가입</a>
              <a class='btn btn-sm btn-white' href="{% url 'accounts:login' %}">로그인</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>  
    <hr class='mb-0'>
      
    <!-- 메뉴 바 -->
    <div id="menu" class="container-fluid container">
      <ul class="main1 justify-content-between">
        <li class='w-100' style="border: none;"><a href="#">지역별</a>
          <ul class="main2" style="background-color: rgba(256, 256, 256, 0.9); border-radius: 5px; box-shadow: 0px 5px 10px 1px rgb(169 169 169 / 50%);">
            {% for region in regions %}
              <li><a href="{% url 'articles:region_index' region.pk %}">{{ region.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class='w-100' style="border: none;"><a href="#">테마별</a>
          <ul class="main2" style="background-color: rgba(256, 256, 256, 0.9); border-radius: 5px; box-shadow: 0px 5px 10px 1px rgb(169 169 169 / 50%);">
            {% for theme in themes %}
              <li><a href="{% url 'articles:theme_index' theme.pk %}">{{ theme.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li  class='w-100'style="min-width:65px;"><a href="{% url 'articles:review_index' %}">리뷰모음</a></li>
        {% comment %} <li><a href="#">오션뷰🌊</a></li>
        <li><a href="#">글램핑</a></li> {% endcomment %}
        <li class='w-100'><a href="#">이벤트</a></li>
        <li class='w-100' style="min-width:65px;"><a href="{% url 'service_center:index' %}">고객센터</a></li>
        </ul>
    </div>
    <hr class='my-0'>
    {% include "messages.html" %}
    {% block banner %}
    {% endblock banner %}

    <div class="container my-5 pb-5">
      {% block body %}{% endblock body %}
    </div>

    <!-- footer-->
    <div style="width:100%; height:4rem;" class='bg-light fixed-bottom d-flex justify-content-center align-items-center flex-column'>
      <p class='m-0'>
        김수빈, 김재형, 김지연, 백동원, 최준홍 Supported by HyperGrowth 
      </p>
      <a class='text-decoration-underline' href="{% url 'service_center:index' %}">고객 센터</a>
    </div>
  


    {% bootstrap_javascript %}

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block script %}{% endblock script %}

  </body>
<!-- Channel Plugin Scripts -->
<script>
    (function() {
      var w = window;
      if (w.ChannelIO) {
        return (window.console.error || window.console.log || function(){})('ChannelIO script included twice.');
      }
      var ch = function() {
        ch.c(arguments);
      };
      ch.q = [];
      ch.c = function(args) {
        ch.q.push(args);
      };
      w.ChannelIO = ch;
      function l() {
        if (w.ChannelIOInitialized) {
          return;
        }
        w.ChannelIOInitialized = true;
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
        s.charset = 'UTF-8';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
      if (document.readyState === 'complete') {
        l();
      } else if (window.attachEvent) {
        window.attachEvent('onload', l);
      } else {
        window.addEventListener('DOMContentLoaded', l, false);
        window.addEventListener('load', l, false);
      }
    })();
    ChannelIO('boot', {
      "pluginKey": "c18dff1e-3839-4bcd-93e6-51cc509d023d"
    });
  </script>
  <!-- End Channel Plugin -->
</html>